<!DOCTYPE html>
<html>
    <head>
        <title>WebSerial</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="/js/libs/jquery/jquery-3.5.1.js"></script>
        <style>
            #info {position: absolute;top: 40px;width: 100%;text-align: left;z-index: 100; display:block; color: aqua; margin: 10px;}
        </style>
    </head>
    <body>
        <div id="info">0</div>
        <script type="module" src="/js/scene.js"></script>
    </body>>
</html>
